---
import { getCollection } from 'astro:content';
import DocsPage from '../../layouts/Docs.astro';
import type { CollectionEntry } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
  const docs = await getCollection('docs');
  return docs.map((entry: CollectionEntry<'docs'>) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<'docs'>;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<DocsPage entry={entry}>
  <div class="px-4 sm:px-6">
    <Content />
  </div>
</DocsPage>