---
import Layout from "../layouts/Layout.astro";
import { MyThread } from "../components/ChatThread";
---

<Layout title="Chat">
  <div class="w-[800px] h-[800px]">
    <MyThread client:load />
  </div>
</Layout>
