---
import Layout from "../layouts/LayoutSimple.astro";
import ReadmeContent from '../../README.md';
---

<Layout title="Home" left leftSize="collapsed" right rightSize="quarter">
  
  <div class="right prose dark:prose-invert max-w-none">
    <article>
      <ReadmeContent />
    </article>
  </div>

</Layout>