---
import { getCollection } from 'astro:content';
import CoursePost from '../../layouts/Course.astro';
import type { CollectionEntry } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('Course');
	return posts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

type Props = {
	entry: CollectionEntry<'Course'>;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<CoursePost entry={entry}>
	<div class="px-4 sm:px-6">
		<Content />
	</div>
</coursePost>
