---
import {
  MessageSquare,
} from "lucide-react";
import { Sidebar } from "@/components/Sidebar";
import { MyThread } from "@/components/ChatThread";
import { LayoutInit } from "@/components/LayoutInit";
import ThemeInit from "@/components/ThemeInit.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  children: any;
}

const {
  title,
  description = "ONE",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <ThemeInit />
  </head>

  <body class="min-h-screen bg-background font-sans antialiased touch-none">
    <div class="flex h-screen optimize-gpu overflow-auto">
      <div id="left-sidebar" class="w-[64px] shrink-0 border-r mobile:fixed mobile:z-50 mobile:transition-transform mobile:duration-300 mobile:translate-x-[-64px] mobile:data-[open=true]:translate-x-0">
        <Sidebar client:idle />
      </div>

      <div class="flex-[1] flex flex-col min-w-0 mobile:pl-0">
        <div class="chat-window flex justify-center h-full">
          <div class="w-full max-w-[900px] pt-8">
          </div>
        </div>
      </div>

      <div
        id="right-panel"
        class="border-l flex flex-col flex-[2] transition-all duration-300 ease-in-out transform mobile:fixed mobile:right-0 mobile:top-0 mobile:bottom-0 mobile:z-50 mobile:w-full mobile:translate-x-full mobile:data-[open=true]:translate-x-0"
      >
        <header
          id="top-header"
          class="h-16 min-h-[64px] max-h-[64px] border-b flex items-center px-6 gap-4 bg-background"
        >
          <div class="flex-1 flex justify-center">
            <img src="/logo-dark.png" alt="Logo" class="h-10 dark:hidden" />
            <img src="/logo.svg" alt="Logo" class="h-10 hidden dark:block" />
          </div>
        </header>

        <main class="flex-1 p-6">
          <slot />
        </main>
      </div>
    </div>

  </body>
</html>