---
import Layout from "./Landing.astro";

interface Props {
    title: string;
    description?: string;
    children: any;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
    <main class="flex flex-col min-h-screen">
        <slot />
    </main>
</Layout>

<style>
    main {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
</style>