---
import "../styles/global.css";

import { RightPanel } from "@/components/RightPanel";

interface Props {
    panelContent?: React.ReactNode;
    defaultWidth?: "quarter" | "half";
    defaultOpen?: boolean;
}

const { panelContent, defaultWidth, defaultOpen } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Astro Panel Layout</title>
    </head>
    <body>
        <RightPanel 
            client:load 
            defaultWidth={defaultWidth}
            defaultOpen={defaultOpen}
        >
            <slot />
        </RightPanel>
    </body>
</html>
