---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
import ThemeInit from "@/components/ThemeInit.astro";
import { SidebarWrapper } from "@/components/SidebarWrapper";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Astro Shadcn UI Demo",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
    <ThemeInit />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <SidebarWrapper client:load>
      <main class="p-6">
        <slot />
      </main>
    </SidebarWrapper>
  </body>
</html>